@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-neutral-black-50: var(--neutral-black-50);
  --color-neutral-black-100: var(--neutral-black-100);
  --color-neutral-black-200: var(--neutral-black-200);
  --color-neutral-black-300: var(--neutral-black-300);
  --color-neutral-black-400: var(--neutral-black-400);
  --color-neutral-black-500: var(--neutral-black-500);
  --color-neutral-black-600: var(--neutral-black-600);
  --color-neutral-black-700: var(--neutral-black-700);
  --color-neutral-black-800: var(--neutral-black-800);
  --color-neutral-black-900: var(--neutral-black-900);
  --color-neutral-white-50: var(--neutral-white-50);
  --color-neutral-white-100: var(--neutral-white-100);
  --color-neutral-white-200: var(--neutral-white-200);
  --color-neutral-white-300: var(--neutral-white-300);
  --color-neutral-white-400: var(--neutral-white-400);
  --color-neutral-white-500: var(--neutral-white-500);
  --color-neutral-white-600: var(--neutral-white-600);
  --color-neutral-white-700: var(--neutral-white-700);
  --color-neutral-white-800: var(--neutral-white-800);
  --color-neutral-white-900: var(--neutral-white-900);
  --color-hyperlink-50: var(--hyperlink-50);
  --color-hyperlink-100: var(--hyperlink-100);
  --color-hyperlink-200: var(--hyperlink-200);
  --color-hyperlink-300: var(--hyperlink-300);
  --color-hyperlink-400: var(--hyperlink-400);
  --color-hyperlink-500: var(--hyperlink-500);
  --color-hyperlink-600: var(--hyperlink-600);
  --color-hyperlink-700: var(--hyperlink-700);
  --color-hyperlink-800: var(--hyperlink-800);
  --color-hyperlink-900: var(--hyperlink-900);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* Primary (previously primario) */
  --primary: oklch(0.28 0.142 296.71);
  --primary-foreground: oklch(0.985 0 0);
  --primary-50: oklch(0.93 0.0144 308.29); 
  --primary-100: oklch(0.78 0.0433 307.12);
  --primary-200: oklch(0.68 0.0661 305.84);
  --primary-300: oklch(0.52 0.1 304.7);
  --primary-400: oklch(0.42 0.1217 303.43);
  --primary-500: oklch(0.28 0.142 296.71);
  --primary-600: oklch(0.26 0.1328 296.78);
  --primary-700: oklch(0.23 0.1105 297.88);
  --primary-800: oklch(0.19 0.092 299.25);
  --primary-900: oklch(0.17 0.0767 300.28);
  /* Secondary (previously secundario) */
  --secondary: oklch(0.79 0.0352 285.57);
  --secondary-foreground: oklch(0.985 0 0);
  --secondary-50: oklch(0.98 0.0026 286.35);
  --secondary-100: oklch(0.94 0.0107 286.19);
  --secondary-200: oklch(0.9 0.0162 286.07);
  --secondary-300: oklch(0.86 0.0234 285.9);
  --secondary-400: oklch(0.83 0.0277 285.78);
  --secondary-500: oklch(0.79 0.0352 285.57);
  --secondary-600: oklch(0.74 0.0329 285.56);
  --secondary-700: oklch(0.62 0.0254 285.63);
  --secondary-800: oklch(0.51 0.022 285.6);
  --secondary-900: oklch(0.42 0.0181 285.6);

  /* Neutral Black (previously neutros-black) */
  --neutral-black-50: oklch(0.93 0 0);
  --neutral-black-100: oklch(0.78 0 0);
  --neutral-black-200: oklch(0.66 0 0);
  --neutral-black-300: oklch(0.49 0 0);
  --neutral-black-400: oklch(0.38 0 0);
  --neutral-black-500: oklch(0.19 0 0);
  --neutral-black-600: oklch(0.18 0 0);
  --neutral-black-700: oklch(0.16 0 0);
  --neutral-black-800: oklch(0.14 0 0);
  --neutral-black-900: oklch(0.13 0 0);
  /* Neutral White (previously neutros-white) */
  --neutral-white-50:  oklch(1 0 0);
  --neutral-white-100: oklch(0.99 0 0);
  --neutral-white-200: oklch(0.99 0 0);
  --neutral-white-300: oklch(0.98 0 0);
  --neutral-white-400: oklch(0.98 0 0);
  --neutral-white-500: oklch(0.97 0 0);
  --neutral-white-600: oklch(0.9 0 0);
  --neutral-white-700: oklch(0.75 0 0);
  --neutral-white-800: oklch(0.62 0 0);
  --neutral-white-900: oklch(0.51 0 0);
  /* Hyperlink (previously hipervinculos) */
  --hyperlink-50:  oklch(0.95 0.0132 262.38);
  --hyperlink-100: oklch(0.84 0.0451 264.3);
  --hyperlink-200: oklch(0.77 0.068 264.05);
  --hyperlink-300: oklch(0.66 0.1037 264.25);	
  --hyperlink-400: oklch(0.59 0.126 263.2);
  --hyperlink-500: oklch(0.49 0.1604 262.48);
  --hyperlink-600: oklch(0.46 0.1481 262.39);
  --hyperlink-700: oklch(0.39 0.1209 262.66);
  --hyperlink-800: oklch(0.33 0.0971 262.4);
  --hyperlink-900: oklch(0.28 0.0782 262.48);
  /* Error colors (previously errores) */
  --error-50: oklch(0.95 0.0241 14.43);
  --error-100: oklch(0.84 0.077 15.82);
  --error-200: oklch(0.76 0.1197 17.02);
  --error-300: oklch(0.68 0.1764 20.23);
  --error-400: oklch(0.63 0.207 23.05);
  --error-500: oklch(0.59 0.2351 27.38);
  --error-600: oklch(0.55 0.2187 27.33);
  --error-700: oklch(0.46 0.1803 26.83);
  --error-800: oklch(0.38 0.1485 26.5);
  --error-900: oklch(0.32 0.1211 26.09);
  /* Success (previously aciertos) */
  --success-50: oklch(0.96 0.0214 158.59);
  --success-100: oklch(0.87 0.0687 157.12);
  --success-200: oklch(0.81 0.102 155.66);
  --success-300: oklch(0.74 0.1433 153.58);
  --success-400: oklch(0.69 0.1651 151.43);
  --success-500: oklch(0.63 0.185972 147.3695);
  --success-600: oklch(0.59 0.1732 147.43);
  --success-700: oklch(0.49 0.1432 147.89);
  --success-800: oklch(0.41 0.117575 148.4695);
  --success-900: oklch(0.34 0.0968 149.13);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.65 0.22 290.5);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
