{{#> base }}
    <!-- Contenido dinámico -->
    <div class="content">
      <h1 style="color: #765997;">Bienvenido{{fullname}}!!!. Gracias por sumarte a la comunidad de PlayAttention</h1>
      <p>Tu cuenta ha sido creada con éxito. Ahora puedes iniciar sesión en nuestra plataforma.</p>
      <p>Tus credenciales de acceso son:</p>
      <p>Correo electrónico: {{email}}</p>
      <p>Contraseña: <strong style="color: #765997;">{{password}}</strong></p>
      <p style="text-align: center; margin: 30px 0;">
        <a href="{{url}}" class="button" style="color: #ffffff;">
          Ir a la plataforma
        </a>
      </p>
      <div style="background: #f9f9f9; padding: 15px; border-radius: 4px;">
        <h3 style="margin-top: 0;">¿Necesitas ayuda?</h3>
        <p>Consulta nuestra <a href="/" style="color: #765997;">guía de inicio</a>.</p>
      </div>
    </div>
{{/base}}