<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  <style type="text/css">
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
      color: #333333;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background: #ffffff;
    }
    .header {
      background: #765997;
      padding: 20px;
      text-align: center;
    }
    .logo {
      max-width: 150px;
      height: auto;
    }
    .content {
      padding: 20px;
    }
    .button {
      display: inline-block;
      background: #765997;
      color: #ffffff !important;
      padding: 12px 24px;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
    }
    .footer {
      background: #f1f1f1;
      padding: 15px;
      text-align: center;
      font-size: 12px;
      color: #777777;
    }
    /* Media queries para móviles */
    @media only screen and (max-width: 600px) {
      .container {
        width: 100% !important;
      }
      .button {
        width: 100% !important;
        text-align: center !important;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img 
        src="https://res.cloudinary.com/dsxdoix3m/image/upload/v1745475785/nixyijm0v7ts2o6j72y9.png" 
        alt="Logo de la Empresa" 
        class="logo"
        style="display: block; margin: 0 auto;"
      />
    </div>

    <!-- Contenido dinámico -->
    <div class="content">
      
      {{> @partial-block }}

    </div>

    <div class="footer">
      <p>© 2025 Mi Empresa. Todos los derechos reservados.</p>
      <p>
        <a href="/" style="color: #777777;">Darme de baja</a> | 
        <a href="/" style="color: #777777;">Política de privacidad</a>
      </p>
    </div>
  </div>
</body>
</html>